<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragment/layout::layout('로그인페이지',~{this::content},~{this::script})}">

	<div th:fragment="content">
		<h1>관리자 상품 목록</h1>
		<table>
			<tr>
				<th>상품번호</th><th>상품명</th><th>가격</th><th>재고수량</th><th></th>
			</tr>
			<tr th:each="p : ${list}">
				<td th:text="${p.pid}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.price}"></td>
				<td th:text="${p.amount}"></td>
			</tr>
		</table>

	</div>

	<th:block th:fragment="script">
		<script th:inline="javascript"></script>
	</th:block>


</th:block>
</html>