<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragment/layout::layout('관리지 상품목록 페이지',~{this::content},~{this::script})}">

	<div th:fragment="content">
		<h1>관리자 상품 목록</h1>
		<table border="1" width="650px">
			<tr>
				<th>상품번호</th><th>이미지</th><th>상품명</th><th>가격</th><th>재고수량</th><th>삭제</th><th>수정</th>
			</tr>
			<tr th:each="p : ${list}">
				<td th:text="${p.pid}"></td>
				<td><img th:src="|/images/${p.img}|"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.price}"></td>
				<td th:text="${p.amount}"></td>
				<td><a th:href="@{/product/delete(pid=${p.pid})}" onclick="return confirm('정말 삭제하시겠습니까?');">
					<button>삭제</button></a>
				</td>
				<td><a th:href="@{/product/update(pid=${p.pid})}"><button>수정</button></a></td>
			</tr>
		</table>



	</div>

	<th:block th:fragment="script">
		<script th:inline="javascript">
		</script>
	</th:block>


</th:block>
</html>