<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="layout(title,content,script)">
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}">fragment/layout.html</title>
	</head>
	<body>

	<header>
	<ul>
		<div th:if="${mem==null}">
			<li><a th:href="@{/member/login}">로그인</a></li>
			<li><a href="">장바구니</a></li>
		</div>

		<li th:if="${mem!=null}">
			<form th:action="@{/logout}" method="post">
				<span th:text="|${mem.username}님 반갑습니다|"></span>
				<input type="submit" value="로그아웃"> <!-- 로그아웃은 post방식으로 설정 -->
			</form>
		</li>
		<li><a th:href="@{/member/join}">회원가입</a></li>


		<li><a th:href="@{/product/list}">상품페이지</a></li>
		<li><a th:href="@{/product/insert}">상품등록</a></li>

	</ul>
	</header>

	<!-- 내용삽입 -->
	<div style="background-color: bisque;height: 600px;">
		<div th:replace="${content}"></div>
	</div>

	<footer>
		<ul>
			<li><a href="">회사소개</a></li>
			<li><a href="">찾아오시는 길</a></li>
			<li><a href="">고객센터</a></li>
		</ul>
	</footer>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<th:block th:replace="${script}"></th:block>

	</body>

</th:block>
</html>