<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="layout(title,content)">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">fragment/layout.html</title>
</head>
<body>
	<h1>header</h1>
	<ul>
		<li><a href="">로그인</a></li>
		<li><a href="">상품페이지</a></li>
		<li><a href="">게시판</a></li>
	</ul>
	<!-- 내용삽입 -->
	<div>
		<div th:replace="${content}"></div>
	</div>

	<div>
		<h3>footer</h3>
		<div>회사주소 : 어디어디 xxxx 고객센터 : 02-xxx-xxxx</div>
	</div>
</body>

</th:block>
</html>