<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PaymentMapper">

    <insert id="insert" parameterType="aop09_quiz.PaymentDTO">
        insert into payment values(payment_seq.nextval,#{num},#{pay},#{pmethod})
    </insert>

    <update id="update" parameterType="aop09_quiz.PaymentDTO">
        update payment set pay=#{pay}, pmethod=#{pmethod} where num=#{num}
    </update>

    <delete id="delete">
        delete from payment
    </delete>

    <select id="select" parameterType="int" resultType="aop09_quiz.PaymentDTO">
        select * from payment where pnum=#{pnum}
    </select>

    <select id="selectAll" resultType="aop09_quiz.PaymentDTO">
        select * from payment
    </select>


</mapper>